GROQ_API_KEY=
DB_NAME=book_insight
DB_USER=bookuser
DB_PASSWORD=bookpass
DB_HOST=127.0.0.1
DB_PORT=3306
MAX_PAGES=50
CHROMA_PERSIST_DIR=./chroma_db
DJANGO_SECRET_KEY=change-me-to-a-random-secret-key
DEBUG=True
